[submodule "plugins/pyenv-lazy"]
	path = plugins/pyenv-lazy
	url = https://github.com/davidparsson/zsh-pyenv-lazy.git
[submodule "plugins/alias-tips"]
	path = plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule "plugins/zsh-autocomplete"]
	path = plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
